main {
    margin-bottom: 3rem;
    h1{
        text-align: center;
        margin-bottom: 10px;
        ul{
            text-align: justify;
        }
    }
}
.initial-padding {
    padding-left:4rem;
    li {
        margin-bottom: 10px;
    }
}