main {
    margin-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
            text-align: justify;
        }
.initial-padding {
    padding-left:4rem;
    li {
        margin-bottom: 10px;
    }
}
.date{
    text-align: right;
}