:root {
  --color-orange: #fd4f00;
  --color-blue: #061f5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 1.4rem;
  color: #ffffff;
}

.nav__background {
  background-image: linear-gradient(
    to right,
    var(--color-orange) 50%,
    var(--color-blue) 50%
  );
}

.nav {
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.logo {
  background-color: var(--color-orange);
  padding: 1rem;
  flex: 1;
  max-width: 50%;
}

.nav__list {
  list-style-type: none;
  background-color: var(--color-blue);
  padding: 0 2rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav__item {
  white-space: nowrap;
}

.slider {
  max-width: 1400px;
  margin: auto;
}

.slide {
  position: relative;
}

.slide__img {
  width: 100%;
}

.slide__heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
