* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workers-container {
  display: grid;
  margin-top: 70px;
  /* border: 2px red solid; */
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.worker-1 {
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.5s all;
  /* border: 2px red solid; */
  img {
    width: 100%;
    margin: auto;
    align-self: center;
    max-height: 500px;
    object-fit: cover;
    /* border: 3px black solid; */
    border-radius: 10px;
    background-color: white;
  }

  .worker-1__details {
    font-size: 1.5rem;
    margin-top: 30px;
    background-color: #e7e7e7;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;

    h3,
    h4 {
      margin-bottom: 10px;
    }
  }
}

.worker-1:hover {
  transform: scale(1.05);
}

.exceptional-team {
  letter-spacing: 1px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .workers-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 768px) {
  .workers-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 640px) {
  .workers-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}

/* xs */
@media (max-width: 475px) {
  .workers-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
